{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Django Movies!</h1>
    <ul>
            {% for movie in object_list %}
                <li>
                    {% comment %} movie.genre.get_age_limit_display {% endcomment %}
                    {% if movie.genre.age_limits != age_limits.adults %}
                        {{ movie.title }} ({{ movie.released.year }}) by {{movie.director}}, genre: {{ movie.genre.name }}
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endblock %}
